/node_modules
/vendor

/app/Console
/app/Exceptions
/app/Http
/app/Providers

/bootstrap
/config
/database/factories
/public
/resources

/routes

/storage
/tests

/.idea
Homestead.json
Homestead.yaml
.env
composer.json
composer.lock
artisan
package.json
phpunit.xml
readme.md
server.php
webpack.mix.js