/node_modules
/vendor

/app/Console
/app/Exceptions
/app/Http/Middleware
/app/Http/Kernel.php
/app/Providers

/bootstrap
/config
/database
/public
/resources/assets
/resources/lang

/routes/api.php
/routes/channels.php
/routes/console.php

/storage
/tests

/.idea
Homestead.json
Homestead.yaml
.env
composer.json
composer.lock
artisan
package.json
phpunit.xml
readme.md
server.php
webpack.mix.js